.Main{
    background: url(/src\assets\_2691465f-7b3e-4856-b14e-53e2326bdc60.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -88px;
}